<section class="pt-[400px] md:pt-[800px] lg:pt-[300px] py-[140px]">
  <div class="flex items-center flex-col justify-center lg:mx-0 mx-[14px]">
    <div class="pb-[80px] text-center">
      <p
        class="text-[#2478ED] montserrat font-semibold text-lg leading-[26px] lg:leading-8 tracking-wider"
      >
        {{ ABOUT_WORDS.HOW_WE_HELP }}
      </p>
      <h1 class="font-bold gilroy text-[32px] lg:text-[54px]">
        {{ ABOUT_WORDS.LEVERAGE }}
      </h1>
    </div>
    <div
      class="flex flex-row justify-center flex-wrap w-full lg:space-y-0 space-y-8"
    >
      <div
        class="flex flex-col gap-3 max-w-[512px] w-[512px] whitespace-pre-wrap space-x-3"
      >
        <div class="flex flex-row items-center gap-x-4">
          <img src="assets/images/EventPageMap.png" />
          <h1 class="gilroy text-xl lg:text-2xl">
            {{ ABOUT_WORDS.LOCATION_INTELLIGENCE }}
          </h1>
        </div>
        <p
          class="pl-14 font-normal text-base lg:text-xl leading-[26px] lg:leading-8 text-left"
        >
          {{ ABOUT_WORDS.LOCATION_INTELLIGENCE_DESCRIPTION }}
        </p>
      </div>
      <div
        class="flex flex-col gap-3 max-w-[512px] w-[512px] whitespace-pre-wrap"
      >
        <div class="flex flex-row items-center gap-x-1">
          <img src="assets/images/IconsMedium.png" />
          <h1 class="text-xl lg:text-2xl gilroy">
            {{ ABOUT_WORDS.ENHANCE_WORKFLOWS }}
          </h1>
        </div>
        <p
          class="pl-14 font-normal text-base lg:text-xl leading-[26px] lg:leading-8 text-left"
        >
          {{ ABOUT_WORDS.ENHANCE_WORKFLOWS_DESCRIPTION }}
        </p>
      </div>
      <div
        class="flex flex-col gap-3 max-w-[512px] w-[512px] whitespace-pre-wrap"
      >
        <div class="flex flex-row items-center gap-x-4">
          <img src="assets/images/simpleGood.png" />
          <h1 class="text-xl lg:text-2xl gilroy">
            {{ ABOUT_WORDS.SIMPLE_IS_GOOD }}
          </h1>
        </div>
        <p class="pl-14 font-normal text-base lg:text-xl leading-8 text-left">
          {{ ABOUT_WORDS.SIMPLE_IS_GOOD_DESCRIPTION }}
        </p>
      </div>
    </div>
  </div>
</section>
