.stars {
  background: linear-gradient(103.77deg, #2b84ff 3.64%, #125ec7 86.42%), #ffc107;
}

.gilroy{
  font-family: 'Gilroy-Bold', sans-serif;
}
.montserrat{
  font-family: 'MontSerrat';
}

.gilroy-medium{
  font-family: 'Gilroy-Medium', sans-serif;
}