<form class="h-screen">
  <div class="lg:flex lg:flex-row xs:flex-col">
    <div class="left lg:w-[1400px]">
      <div class="flex flex-col pt-[38px] lg:pl-[61px] xs:pl-[14px]">
        <div
          class="flex flex-col items-start text-white xs:pb-[37.7px] lg:pb-[135px]"
        >
          <p class="xs:text-base lg:text-lg">The</p>
          <p class="xs:text-[32px] lg:text-5xl">Tagishpere</p>
          <p class="xs:text-base lg:text-lg">AR Platform</p>
        </div>
        <div
          class="flex flex-col text-white pr-[98px] xs:hidden lg:block h-screen"
        >
          <p class="text-[32px] font-bold leading-[35px] mb-5">
            {{ FORGOT_PASSWORD_WORDS.ARCGIS }}
          </p>
          <p
            @slideInOut
            *ngIf="selectedIndex === 0"
            class="text-lg font-normal leading-8 mb-[28px] max-h-[64px] h-[64px]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <p
            @slideInOut
            *ngIf="selectedIndex === 1"
            class="text-lg font-normal leading-8 mb-[28px] max-h-[64px] h-[64px]"
          >
            Lorem ipsum dolor sit amet, consectetur
          </p>
          <p
            @slideInOut
            *ngIf="selectedIndex === 2"
            class="text-lg font-normal leading-8 mb-[28px] max-h-[64px] h-[64px]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna
          </p>
          <p
            @slideInOut
            *ngIf="selectedIndex === 3"
            class="text-lg font-normal leading-8 mb-[28px] max-h-[64px] h-[64px]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut lab
          </p>
          <p
            @slideInOut
            *ngIf="selectedIndex === 4"
            class="text-lg font-normal leading-8 mb-[28px] max-h-[64px] h-[64px]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          </p>
          <div class="flex items-center">
            <div class="space-x-4 flex items-center ml-[9px]">
              <ng-container
                *ngFor="let item of [].constructor(5); let i = index"
              >
                <img
                  pRipple
                  width="6"
                  height="6"
                  class="cursor-pointer"
                  (click)="nextCarouselStep(i)"
                  *ngIf="i !== selectedIndex"
                  src="assets/images/Ellipse 148.png"
                />
                <div
                  *ngIf="i === selectedIndex"
                  class="flex items-center animate-pulse"
                >
                  <img src="assets/images/Ellipse 152.png" />
                  <img
                    class="absolute ml-[7.4px]"
                    src="assets/images/Ellipse 147.png"
                  />
                  <img
                    class="absolute ml-[4px]"
                    src="assets/images/Ellipse 146.png"
                  />
                </div>
              </ng-container>
            </div>
          </div>
          <div class="absolute left-[21px] -bottom-[277px] lg:block xs:hidden">
            <img src="assets/images/Frame 33854.png" />
          </div>
        </div>
      </div>
    </div>

    <div
      class="w-full lg:mt-[240px] lg:mb-[315px]"
      [ngStyle]="emailSent ? { margin: 0 } : {}"
    >
      <div
        [ngStyle]="
          screenWidth <= 428
            ? {
                background:
                  'linear-gradient(103.77deg, #2b84ff 3.64%, #125ec7 86.42%), #d9d9d9'
              }
            : { background: 'white' }
        "
        *ngIf="!emailSent"
      >
        <div
          class="lg:w-[545px] xs:w-full mx-auto bg-white xs:rounded-t-[28px] xs:border-t lg:border-0"
        >
          <div class="flex flex-col xs:items-center xs:px-10">
            <div class="flex flex-col items-center">
              <p
                class="text-[#21232E] xs:text-[32px] xs:leading-[35.2px] lg:text-5xl font-bold lg:leading-[53px] mb-[14px] lg:mt-0 xs:mt-[217px]"
              >
                {{ FORGOT_PASSWORD_WORDS.RESET }}
              </p>
              <p
                class="text-[#666771] xs:text-base xs:leading-[22.4px] lg:text-[20px] font-normal lg:leading-7 mb-12"
              >
                {{ FORGOT_PASSWORD_WORDS.RESET_INSTRUCTIONS }}
              </p>
            </div>
            <div class="flex flex-col">
              <label
                htmlFor="email"
                class="text-[#21232E] font-semibold text-base leading-[22.4px] opacity-[0.35] mb-2"
                >{{ FORGOT_PASSWORD_WORDS.EMAIL }}</label
              >
              <input
                id="email"
                [style]="{
                  width: screenWidth > 428 ? '408px' : '348px',
                  height: '72px',
                  marginBottom: screenWidth > 428 ? '48px' : '32px'
                }"
                value="carl.johnson@email.com"
                pInputText
              />
            </div>
            <p-button
              (onClick)="resetPassword()"
              [style]="{
                marginBottom: screenWidth > 428 ? '44px' : '217px',
                width: screenWidth > 428 ? '408px' : '348px'
              }"
              [label]="FORGOT_PASSWORD_WORDS.SEND_INSTRUCTION"
            ></p-button>
            <div class="flex items-center cursor-pointer">
              <img
                class="mr-[13px]"
                src="assets/images/LeftArrow.png"
                (click)="goBackToLogin()"
              />
              <p
                class="text-[#4F5974] text-[18px] font-normal leading-[25.2px]"
                (click)="goBackToLogin()"
              >
                {{ FORGOT_PASSWORD_WORDS.BACK }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        [ngStyle]="
          screenWidth <= 428
            ? {
                background:
                  'linear-gradient(103.77deg, #2b84ff 3.64%, #125ec7 86.42%), #d9d9d9'
              }
            : { background: 'white' }
        "
      >
        <div
          class="w-full lg:mt-[240px] lg:mb-[315px] bg-white xs:rounded-t-[28px] xs:border-t lg:border-0"
          *ngIf="emailSent"
        >
          <div class="flex flex-col items-center mx-auto lg:w-[545px]">
            <p
              class="text-[#21232E] xs:text-[32px] xs:leading-[35.2px] lg:text-5xl font-bold lg:leading-[53px] mb-[14px] lg:mt-0 xs:mt-[217px]"
            >
              {{ FORGOT_PASSWORD_WORDS.CHECK_YOUR_INBOX }}
            </p>
            <p
              class="text-[#666771] xs:text-base xs:leading-[22.4px] lg:text-[20px] font-normal lg:leading-7 lg:mb-12 xs:mb-8"
            >
              {{ FORGOT_PASSWORD_WORDS.INSTRUCTION_SENT }}
            </p>
            <img
              (click)="emailVerified = true"
              class="lg:mb-12 xs:mb-8"
              src="assets/images/Img Done.png"
            />
            <p
              class="text-[#666771] xs:text-base xs:leading-[22.4px] lg:text-[20px] font-normal lg:leading-7 lg:mb-12 xs:mb-8"
            >
              {{ FORGOT_PASSWORD_WORDS.DIDNT_RECEIVE }}
            </p>
            <p-button
              (onClick)="resetPassword()"
              [style]="{
                marginBottom: screenWidth > 428 ? '44px' : '180px',
                width: screenWidth > 428 ? '408px' : '348px'
              }"
              [label]="FORGOT_PASSWORD_WORDS.RESEND"
            ></p-button>
            <div
              class="flex items-center cursor-pointer"
              *ngIf="screenWidth > 428"
            >
              <img
                class="mr-[13px]"
                src="assets/images/LeftArrow.png"
                (click)="resetPassword()"
              />
              <p
                class="text-[#4F5974] text-[18px] font-normal leading-[25.2px]"
                (click)="resetPassword()"
              >
                {{ FORGOT_PASSWORD_WORDS.BACK }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="w-full lg:mt-[240px] lg:mb-[315px]"
        *ngIf="emailVerified === true"
      >
        <div class="flex flex-col items-center mx-auto lg:w-[546px]">
          <p
            class="text-[#21232E] font-bold text-5xl leading-[52.8px] text-center mb-12"
          >
            {{ FORGOT_PASSWORD_WORDS.CREATE_NEW_PASSWORD }}
          </p>
          <div class="flex flex-col lg:w-[408px]">
            <div class="flex flex-col mb-5">
              <label
                class="text-[#21232E] opacity-[0.35] text-base leading-[22.4px] font-semibold mb-1"
              >
                {{ FORGOT_PASSWORD_WORDS.NEW_PASSWORD }}
              </label>
              <span class="p-input-icon-right">
                <i class="pi pi-eye" (click)="showPass()"></i>
                <input
                  id="newPassword"
                  class="w-full"
                  [type]="showPassword ? 'text' : 'password'"
                  pInputText
                  value="password"
                />
              </span>
            </div>
            <div class="flex flex-col">
              <label
                class="text-[#21232E] opacity-[0.35] text-base leading-[22.4px] font-semibold mb-1"
              >
                {{ FORGOT_PASSWORD_WORDS.REPEAT_PASSWORD }}
              </label>
              <span class="p-input-icon-right">
                <i class="pi pi-eye" (click)="showPass()"></i>
                <input
                  id="repeatPassword"
                  class="w-full"
                  [type]="showPassword ? 'text' : 'password'"
                  pInputText
                  value="password"
                />
              </span>
            </div>
            <div
              class="password-recommendations flex flex-col space-y-[14px] py-[11px] pl-4 mt-[15px]"
            >
              <p class="text-[#21232E] text-base leading-[22.4px] font-normal">
                {{ FORGOT_PASSWORD_WORDS.SHOULD_CONTAIN }}
              </p>
              <div class="flex flex-col space-y-[14px]">
                <div class="flex items-center">
                  <img
                    src="assets/images/Checkmark.png"
                    *ngIf="hasEightCharacters"
                  />
                  <p
                    [style]="
                      hasEightCharacters
                        ? { color: '#232323' }
                        : { color: '#232323', opacity: 0.35 }
                    "
                  >
                    {{ FORGOT_PASSWORD_WORDS.EIGHT_CHARACTERS }}
                  </p>
                </div>
                <div class="flex items-center">
                  <img
                    [style]="hasLetters ? { paddingRight: '11px' } : {}"
                    src="assets/images/Checkmark.png"
                    *ngIf="hasLetters"
                  />
                  <p
                    [style]="
                      hasLetters
                        ? { color: '#232323' }
                        : { color: '#232323', opacity: 0.35 }
                    "
                  >
                    {{ FORGOT_PASSWORD_WORDS.LETTERS }}
                  </p>
                </div>
                <div class="flex items-center">
                  <img
                    [style]="hasNumbers ? { paddingRight: '11px' } : {}"
                    src="assets/images/Checkmark.png"
                    *ngIf="hasNumbers"
                  />
                  <p
                    [style]="
                      hasNumbers
                        ? { color: '#232323' }
                        : { color: '#232323', opacity: 0.35 }
                    "
                  >
                    {{ FORGOT_PASSWORD_WORDS.NUMBERS }}
                  </p>
                </div>
              </div>
            </div>
            <p-button
              (onClick)="createNewPassword()"
              class="mt-[23px]"
              [label]="FORGOT_PASSWORD_WORDS.APPLY_NEW_PASSWORD"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="passwordCreated">
    <div
      (click)="closeModal()"
      class="top-0 left-0 right-0 bottom-0 bg-[#001030] z-10 opacity-80 fixed"
    ></div>
    <div
      class="lg:w-[500px] h-fit mx-auto fixed z-20 left-[710px] right-[710px] top-[290px] bottom-[290px] bg-white rounded-[13px]"
    >
      <div class="w-full h-full px-[78px] pt-[63px] pb-[39px]">
        <img
          (click)="closeModal()"
          class="absolute right-[33px] top-[33px] cursor-pointer"
          src="assets/images/XIcon.png"
        />
        <p class="text-[#21232E] font-bold text-2xl leading-[31.2px] mb-4">
          {{ FORGOT_PASSWORD_WORDS.PASSWORD_RESET }}
        </p>
        <p
          class="text-[#666771] text-[18px] font-normal leading-[25.2px] mb-[34px]"
        >
          {{ FORGOT_PASSWORD_WORDS.PASSWORD_RESET_DESCRIPTION }}
        </p>
        <p-button
          (onClick)="closeModal()"
          [label]="FORGOT_PASSWORD_WORDS.GOT_IT"
        ></p-button>
      </div>
    </div>
  </div>
</form>
