<p-toast></p-toast>
<form [formGroup]="registerForm" class="h-screen">
  <div class="lg:flex lg:flex-row xs:flex-col">
    <div class="left lg:w-[1400px]">
      <div class="flex flex-col pt-[38px] lg:pl-[61px] xs:pl-[14px]">
        <div
          class="flex flex-col items-start text-white xs:pb-[37.7px] lg:pb-[135px]"
        >
          <p class="xs:text-base lg:text-lg">The</p>
          <p class="xs:text-[32px] lg:text-5xl">Tagishpere</p>
          <p class="xs:text-base lg:text-lg">AR Platform</p>
        </div>
        <div
          class="lg:flex lg:flex-col text-white pr-[98px] xs:hidden h-screen"
        >
          <p class="text-[32px] font-bold leading-[35px] mb-5">
            {{ SIGN_UP_WORDS.ARCGIS }}
          </p>
          <p
            @slideInOut
            *ngIf="selectedIndex === 0"
            class="text-lg font-normal leading-8 mb-[28px] max-h-[64px] h-[64px]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <p
            @slideInOut
            *ngIf="selectedIndex === 1"
            class="text-lg font-normal leading-8 mb-[28px] max-h-[64px] h-[64px]"
          >
            Lorem ipsum dolor sit amet, consectetur
          </p>
          <p
            @slideInOut
            *ngIf="selectedIndex === 2"
            class="text-lg font-normal leading-8 mb-[28px] max-h-[64px] h-[64px]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna
          </p>
          <p
            @slideInOut
            *ngIf="selectedIndex === 3"
            class="text-lg font-normal leading-8 mb-[28px] max-h-[64px] h-[64px]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut lab
          </p>
          <p
            @slideInOut
            *ngIf="selectedIndex === 4"
            class="text-lg font-normal leading-8 mb-[28px] max-h-[64px] h-[64px]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          </p>
          <div class="flex items-center">
            <div class="space-x-4 flex items-center ml-[9px]">
              <ng-container
                *ngFor="let item of [].constructor(5); let i = index"
              >
                <img
                  pRipple
                  width="6"
                  height="6"
                  class="cursor-pointer"
                  (click)="nextCarouselStep(i)"
                  *ngIf="i !== selectedIndex"
                  src="assets/images/Ellipse 148.png"
                />
                <div
                  *ngIf="i === selectedIndex"
                  class="flex items-center animate-pulse"
                >
                  <img src="assets/images/Ellipse 152.png" />
                  <img
                    class="absolute ml-[7.4px]"
                    src="assets/images/Ellipse 147.png"
                  />
                  <img
                    class="absolute ml-[4px]"
                    src="assets/images/Ellipse 146.png"
                  />
                </div>
              </ng-container>
            </div>
          </div>
          <div class="absolute left-[21px] -bottom-[277px]">
            <img src="assets/images/Frame 33854.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="w-full lg:mt-[185px]">
      <div
        [ngStyle]="
          screenWidth <= 428
            ? {
                background:
                  'linear-gradient(103.77deg, #2b84ff 3.64%, #125ec7 86.42%), #d9d9d9'
              }
            : { background: 'white' }
        "
      >
        <div
          class="flex flex-col lg:w-[848px] xs:mx-auto xs:px-10 xs:pb-12 xs:rounded-t-[28px] xs:border-t lg:border-0 lg:rounded-sm xs:bg-white"
        >
          <div class="flex flex-col items-center">
            <p
              class="text-[#21232E] xs:text-[32px] xs:leading-[35.2px] lg:text-5xl font-bold lg:leading-[53px] mb-[14px] xs:mt-10"
            >
              {{ SIGN_UP_WORDS.REGISTRATION }}
            </p>
            <p
              class="text-[#666771] xs:text-base xs:leading-[22.4px] lg:text-[20px] font-normal lg:leading-7 mb-12"
            >
              {{ SIGN_UP_WORDS.STEP }} {{ step }} / 2
            </p>
          </div>
          <div
            @slideInOut
            class="flex flex-col w-full space-y-5"
            *ngIf="step === 1"
          >
            <div
              class="flex lg:flex-row xs:flex-col lg:space-x-8 lg:space-y-0 xs:space-y-5"
            >
              <div class="flex flex-col w-full">
                <label
                  class="text-[#21232E] xs:text-sm lg:text-base leading-[22px] font-semibold mix-blend-normal opacity-[0.35] mb-1"
                  htmlFor="name"
                  >{{ SIGN_UP_WORDS.NAME }}</label
                >
                <input
                  formControlName="username"
                  id="name"
                  [ngStyle]="
                    screenWidth > 428 ? { height: '72px' } : { height: '50px' }
                  "
                  pInputText
                />
              </div>
              <div class="flex flex-col w-full">
                <label
                  class="text-[#21232E] xs:text-sm lg:text-base leading-[22px] font-semibold mix-blend-normal opacity-[0.35] mb-1"
                  htmlFor="email"
                  >{{ SIGN_UP_WORDS.EMAIL }}</label
                >
                <input
                  formControlName="email"
                  id="email"
                  [ngStyle]="
                    screenWidth > 428 ? { height: '72px' } : { height: '50px' }
                  "
                  pInputText
                />
              </div>
            </div>
            <div
              class="flex lg:flex-row xs:flex-col lg:space-x-8 lg:space-y-0 xs:space-y-5"
            >
              <div class="flex flex-col w-full">
                <label
                  class="text-[#21232E] xs:text-sm lg:text-base leading-[22px] font-semibold mix-blend-normal opacity-[0.35] mb-1"
                  htmlFor="password"
                >
                  {{ SIGN_UP_WORDS.PASSWORD }}</label
                >
                <span class="p-input-icon-right">
                  <i class="pi pi-eye"></i>
                  <input
                    formControlName="password1"
                    id="password"
                    class="w-full"
                    type="password"
                    [ngStyle]="
                      screenWidth > 428
                        ? { height: '72px' }
                        : { height: '50px' }
                    "
                    pInputText
                  />
                </span>
              </div>
              <div class="flex flex-col w-full">
                <label
                  class="text-[#21232E] xs:text-sm lg:text-base leading-[22px] font-semibold mix-blend-normal opacity-[0.35] mb-1"
                  htmlFor="repeatPassword"
                  >{{ SIGN_UP_WORDS.REPEAT_PASSWORD }}</label
                >
                <span class="p-input-icon-right">
                  <i class="pi pi-eye"></i>
                  <input
                    formControlName="password2"
                    id="repeatPassword"
                    class="w-full"
                    type="password"
                    [ngStyle]="
                      screenWidth > 428
                        ? { height: '72px' }
                        : { height: '50px' }
                    "
                    pInputText
                  />
                </span>
              </div>
            </div>
          </div>
          <div class="w-full mt-[48px] lg:w-[408px] mx-auto" *ngIf="step === 1">
            <p-button
              (onClick)="goToNextStep()"
              [label]="SIGN_UP_WORDS.NEXT_STEP"
            ></p-button>
            <p
              class="text-center my-[14px] font-medium text-[#666771] leading-[22.4px]"
            >
              {{ SIGN_UP_WORDS.OR }}
            </p>
            <p-button
              styleClass="p-button-outlined p-button-secondary"
              [style]="{ color: '#cdd6e8' }"
            >
              <img src="assets/images/Google__G__Logo 1.png" />
              <span> {{ SIGN_UP_WORDS.CONTINUE_WITH_GOOGLE }} </span>
            </p-button>
            <p
              class="text-base font-normal leading-[22.4px] text-[#666771] text-center mt-6"
            >
              {{ SIGN_UP_WORDS.HAVE_AN_ACCOUNT }}
              <a routerLink="../signin" class="text-[#2B84FF] no-underline"
                >Log In</a
              >
            </p>
          </div>
        </div>
        <div
          [formGroup]="organizationForm"
          class="w-full lg:w-[848px] mx-auto xs:bg-white"
          *ngIf="step === 2"
        >
          <div
            @slideInOut
            class="flex flex-col lg:mt-[48px] xs:px-10 xs:pb-[38px] xs:bg-white"
          >
            <div
              class="flex lg:flex-row xs:flex-col items-center xs:space-y-5 lg:space-y-0 lg:space-x-8"
            >
              <div class="flex flex-col w-full">
                <label
                  class="text-[#21232E] text-base leading-[22px] font-semibold mix-blend-normal opacity-[0.35] mb-1"
                  htmlFor="companyName"
                  >{{ SIGN_UP_WORDS.COMPANY_NAME }}</label
                >
                <input
                  id="companyName"
                  [ngStyle]="
                    screenWidth > 428 ? { height: '72px' } : { height: '50px' }
                  "
                  formControlName="name"
                  pInputText
                />
              </div>
              <div class="flex flex-col w-full">
                <label
                  class="text-[#21232E] text-base leading-[22px] font-semibold mix-blend-normal opacity-[0.35] mb-1"
                  htmlFor="businessSegment"
                  >{{ SIGN_UP_WORDS.BUSINESS_SEGMENT }}</label
                >

                <p-dropdown
                  formControlName="business_type"
                  [style]="{
                    width: '100%',
                    height: screenWidth > 428 ? '72px' : '50px'
                  }"
                  [options]="businessType"
                  appendTo="body"
                ></p-dropdown>
              </div>
            </div>
            <div
              class="flex lg:flex-row xs:flex-col xs:items-center lg:items-start xs:mt-5 lg:mt-0 lg:space-x-8"
            >
              <div
                class="flex flex-col space-y-5 w-full lg:w-[408px] xs:mt-0 lg:mt-5"
              >
                <div class="flex flex-col w-full">
                  <label
                    class="text-[#21232E] text-base leading-[22px] font-semibold mix-blend-normal opacity-[0.35] mb-1"
                    htmlFor="businessSize"
                    >{{ SIGN_UP_WORDS.BUSINESS_SIZE }}</label
                  >
                  <p-dropdown
                    formControlName="size"
                    [style]="{
                      width: '100%',
                      height: screenWidth > 428 ? '72px' : '50px'
                    }"
                    [options]="businessSize"
                    appendTo="body"
                    id="businessSize"
                  >
                  </p-dropdown>
                </div>
              </div>
              <div
                class="flex flex-col items-start lg:w-[408px] xs:mt-[26px] mt-5 cursor-pointer"
              >
                <!-- <label
                  class="text-[#21232E] text-base leading-[22px] font-semibold mix-blend-normal opacity-[0.35] mb-1"
                  htmlFor="headquartersLocation"
                  >{{ SIGN_UP_WORDS.HEADQUARTERS_LOCATION }}</label -->
               
                <div class="w-[100%]">
                  <!-- <app-company-location
                    (orgLocation)="getOrganizationLocation($event)"
                  ></app-company-location> -->
                </div>
                <!-- <label
                  class="text-[#21232E] text-base leading-[22px] font-semibold mix-blend-normal opacity-[0.35] mb-1"
                  htmlFor="logoType"
                  >{{ SIGN_UP_WORDS.LOGOTYPE }}</label
                >
                <label
                  for="images"
                  class="border border-dashed rounded-md border-[#CDD6E8] flex flex-col items-center justify-center bg-[#EEF2FA] lg:h-[195px] px-8 xs:py-[77px] lg:py-[32px]"
                > -->
                <!-- <span
                    class="text-[#0077F2] text-sm font-normal leading-[19.6px]"
                  >
                    {{ SIGN_UP_WORDS.UPLOAD_HERE }}</span
                  >
                  <p class="text-[#B4BED2] font-semibold text-[20px] leading-7">
                    1000 x 1000 px.
                  </p> -->
                <!-- <input
                    type="file"
                    id="images"
                    accept="image/*"
                    required
                    hidden
                  />
                </label> -->
              </div>
            </div>
          </div>
          <div
            class="flex items-center justify-between xs:mt-0 lg:mt-[48px] xs:px-10"
          >
            <div
              class="flex items-center justify-end w-full mr-[34.5px] cursor-pointer"
              *ngIf="screenWidth > 428"
            >
              <img class="mr-3" src="assets/images/LeftArrow.png" />
              <p
                (click)="goBack()"
                class="text-[#4F5974] text-lg leading-[25.2px]"
              >
                {{ SIGN_UP_WORDS.BACK }}
              </p>
            </div>
            <div class="w-full">
              <p-button
                [style]="{ width: '100%' }"
                [label]="SIGN_UP_WORDS.COMPLETE"
                (onClick)="submitRegister()"
              ></p-button>
            </div>
          </div>
          <p
            class="text-base font-normal leading-[22.4px] text-[#666771] text-center mt-6 xs:pb-12"
          >
            {{ SIGN_UP_WORDS.HAVE_AN_ACCOUNT }}
            <a routerLink="../signin" class="text-[#2B84FF] no-underline"
              >Log In</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</form>
