.select-shadow {
  box-shadow: 0px 0px 9.68868px rgba(43, 132, 255, 0.35);
}

::ng-deep .p-button {
  font-weight: 500;
}

.gilroy{
  font-family: 'Gilroy-Bold', sans-serif;
}
.montserrat{
  font-family: 'MontSerrat';
}